/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background: #e7e5e5 url("imagenes/Finalf.png") repeat center center;
  background-size: 23%;
  background-repeat: repeat;
  background-position: center center;
}

/* Negritas para el botón de la barra de navegación */
.navbar-toggler {
  font-weight: bold;
}

/* Negritas para los items del menú de navegación */
.nav-item .nav-link {
  font-weight: bold;
}

/* Centrado y distribución en la barra de navegación */
.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}


/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: white;
  background: linear-gradient(90deg, #ff66c4, #ffde59);
}

.seccion-clara {
  color: black;
  background-color: #e7e5e5; /* Color de fondo */
  background-image: url("imagenes/Finalf.png"); /* Imagen de fondo */
  background-size: 23%; /* Tamaño de la imagen de fondo */
  background-repeat: repeat; /* Repetición de la imagen de fondo */
  background-position: center center; /* Posición de la imagen de fondo */
}


.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  min-height: 450px;
  text-align: center;
  background-color: #e7e5e5; /* Color de fondo */
  background-image: url("imagenes/Finalf.png"); /* Imagen de fondo */
  background-size: 23%; /* Tamaño de la imagen de fondo */
  background-repeat: repeat; /* Repetición de la imagen de fondo */
  background-position: center center; /* Posición de la imagen de fondo */
} 

.hero-inferior-imagen {
  width: 60%; /* Esto hará que la imagen ocupe el 100% del ancho del contenedor */
  max-width: 300px; /* Establece un ancho máximo para la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}



.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: rgb(22, 22, 22);
  background-color:  #ffde59;
}

.experiencia i {
  font-size: 2.5rem;
  color: #2e2d2e;
  background-color: #ff66c4;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}
.text-bg-primary {
  background-color: #ff66c4 !important;
  color: white !important;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyecto {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}
.btn-info {
  background-color: #ff66c4;
  color: white;
  border: none;
}

.btn-info:hover {
  background-color: #e65aaf; /* Puedes ajustar el color para el hover */
}



/* Testimonios */

.testimonios {
  padding: 4vw 4vw 8vw 4vw; /* Ajuste de padding con unidades relativas */
}

.testimonios .carousel {
  max-width: 80vw; /* Ajuste para ser más flexible */
}

.carousel-item {
  height: 50vh; /* Ajuste para mantener altura relativa a la pantalla */
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 10vw; /* Ajuste de imagen con unidades relativas */
  width: 10vw;
  margin: 2vw 2vw 3vw 2vw;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 0.75rem; /* Ajuste de tamaño de texto */
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 0.9rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}
/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background: linear-gradient(90deg, #ff66c4, #ffde59);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px rgb(231, 229, 229);
}


.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: rgb(235, 229, 229);
  font-size: 1.2rem;
}

.contacto button {
  color: rgb(240, 234, 234);
  font-weight: bold;
  background-color: transparent;
  border: 2px solid rgb(241, 238, 238);
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: rgb(238, 238, 238);
  color: black;
}

.contacto button i {
  color: rgb(250, 250, 250);
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid rgb(240, 238, 238);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: rgb(240, 238, 238);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: rgb(240, 237, 237);
  border: 2px solid rgb(238, 21, 238);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #646363;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .testimonios {
    margin-bottom: 30px;
    padding: 20px 20px 40px 20px;
  }

  .carousel-item {
    height: auto; /* Ajuste de altura automática */
  }

  .testimonio-imagen {
    height: 12vw; /* Ajuste de tamaño de imagen */
    width: 12vw;
  }

  .testimonio-texto {
    font-size: 1rem; /* Ajuste del tamaño de texto */
  }

  .testimonio-info .cargo {
    font-size: 0.8rem;
  }
}

/*foto de perfil*/
.hero-imagen{
    width: 200px;   /* Ajusta el tamaño según necesites */
    height: 200px;  /* Mantén el mismo valor que el width para que sea un círculo perfecto */
    border-radius: 50%;  /* Esto hace que la imagen sea redonda */
    object-fit: cover;  /* Asegura que la imagen llene todo el círculo */
}

